/****** Object:  Table [dbo].[Puzzle]    Script Date: 21.12.2017 19:43:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Puzzle](
	[Puzzle_id] [int] IDENTITY(1,1) NOT NULL,
	[puzzle_list] [text] NOT NULL,
 CONSTRAINT [PK__Puzzle__9328240E29A671E1] PRIMARY KEY CLUSTERED 
(
	[Puzzle_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
