/****** Object:  Table [dbo].[AnsPuzzle]    Script Date: 21.12.2017 19:43:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AnsPuzzle](
	[AnsPuzzle_id] [int] IDENTITY(1,1) NOT NULL,
	[puzzle_answer] [text] NOT NULL,
 CONSTRAINT [PK__AnsPuzzl__8D841F685FCC004B] PRIMARY KEY CLUSTERED 
(
	[AnsPuzzle_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[AnsPuzzle]  WITH CHECK ADD  CONSTRAINT [FK__AnsPuzzle__puzzl__59C55456] FOREIGN KEY([AnsPuzzle_id])
REFERENCES [dbo].[Puzzle] ([Puzzle_id])
GO
ALTER TABLE [dbo].[AnsPuzzle] CHECK CONSTRAINT [FK__AnsPuzzle__puzzl__59C55456]
GO
